@{
    ViewData["Title"] = "Confirmation"; // "Confirmation" Page
}

<!--Dispaly Success Message-->
<div class="text-center">
    <h1 class="display-4">Form Successfully Submited</h1>
    <a asp-area="" asp-controller="Home" asp-action="MovieForm">Submit Another Response</a>
</div>