@{
    ViewData["Title"] = "My Podcasts"; // "My Podcasts" Page
}

<div class="text-center">
    <h1 class="display-4">My Podcasts</h1>
    <br />

    <p>Visit Baconsale to listen to my most recent podcast!</p>
    <!-- Link to Baconsale -->
    <a href="https://baconsale.com/" target="_blank">Baconsale</a>
</div>